body {
    display: flex;
    background-color: #DAD2BC;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    justify-content: center;

    .title {
        font-family: 'Shrikhand', cursive;
        color: #093824;
    }

    /*    
        .mainDiv {
        background-color: #DAD2BC;
        width: 50%;
        height: 50%;

        
        button {
            font-family: 'Shrikhand', cursive;
        }
    }
        */

}