body {
    background: lightgreen;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    .mainDiv {
        background: lightsalmon;
        width: 50%;
        height: 50%;

        button {
            font-family: 'Shrikhand', cursive;
        }
    }

}